<section  id="about">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">Create Innovate and Iterate</h2>
                <hr class="light">
                <p class="text-faded">
                    Hi! I’m a Java software engineer who loves turning complex ideas into elegant solutions, Whether it's solving real-world problems or exploring the “why” behind the code, I bring both experience and curiosity to every project. Want to know more?</p>
                <a href="/about.html" class="btn btn-lg btn-xl">Learn more</a>
            </div>
        </div>
    </div>
</section>
