<section  class="">
    <div class="container-fluid hero">
        <div class="row">
            <div class="text-center">
                <h2 class="display-3 section-heading text-white fw-bold">Create Innovate and Iterate</h2>
            
                <p class="text-faded lead col-md-8 mx-auto text-white lead">Welcome to my portfolio! I’m a Java software engineer who loves turning complex ideas into elegant solutions. Whether it's solving real-world problems or exploring the “why” behind the code, I bring both experience and curiosity to every project. Want to know more?</p>
                
                <a href="/about.html" class="btn btn-outline-light btn-lg text-white">Learn more</a>
                <a href="/portfolio.html" class="btn btn-outline-light btn-lg text-white">View my work</a>
                <a href="/contact.html" class="btn btn-outline-light btn-lg text-white">Get in touch</a>
                
            </div>
        </div>
    </div>
</section>
