---
layout: default

---

<div class="container">
  <div class="row">
    <!-- Main Content -->
    <div class="col-lg-8">
      <article class="main">
        <section class="content-chunk">
          <!-- Post Metadata -->
          <div class="blog-post-meta clearfix">
            <p class="date">{{ page.date | date: "%B %d, %Y" }}</p>
            
            <div class="tags">
              {% for tag in page.tags %}
              <span class="badge bg-light text-dark border">{{ tag }}</span>
              {% endfor %}
            </div>
          </div>

          <!-- Post Content -->
          <div class="post">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
            <div class="post-body">
              {{ content }}
            </div>
          </div>

          <!-- Author Section -->
          <div class="author-section mt-5">
            <h3>About the Author</h3>
            
            <p>
              <a href="https://twitter.com/{{ page.author_twitter }}" target="_blank" class="btn btn-outline-primary">
                Follow @{{ page.author_twitter }}
              </a>
            </p>
          </div>

          <!-- Social Sharing -->
          <div class="social-sharing mt-4">
            <h4>Share this post:</h4>
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.permalink }}" target="_blank" class="btn btn-primary">
              Share on Twitter
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.permalink }}" target="_blank" class="btn btn-primary">
              Share on Facebook
            </a>
          </div>

          <!-- Navigation -->
          <hr>
          <a href="/blog/" class="btn btn-outline-secondary">« View More Posts</a>
        </section>
      </article>
    </div>

    <!-- Sidebar -->
    <div class="col-lg-4">
      <aside class="sidebar" style="position: sticky; top: 20px; max-width: 300px;"></aside>
        <h4>Recent Posts</h4>
        <ul class="list-unstyled">
          {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}" class="text-decoration-none">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </aside>
    </div>
  </div>
</div>